In [38]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

def get_doc(links):
    response=requests.get(links)
    if response.status_code != 200:
        print("Status_code :",response.status_code)
        raise  exception("Failed to fetch the webpage"+url)
    doc=BeautifulSoup(response.text,'html.parser')
    return doc   
def get_crypto(page_number):
    base_url="https://finance.yahoo.com/crypto/"
    results={'Name':[],'Price':[],'Change':[],'Volume':[]}
    for i in range (0,page_number*25,25):
        url=base_url+"?count=25&offset="+str(i)
        print(url)
        doc=get_doc(url)
        Name=[name.text.strip() for name in doc.find_all('td',class_="Va(m) Ta(start) Px(10px) Fz(s)")]
        Price=[price.text.strip() for price in doc.find_all('td',class_="Va(m) Ta(end) Pstart(20px) Fw(600) Fz(s)")[::3]]
        Change=[change.text for change in doc.find_all('span',class_='C($negativeColor)')]
        Volume=[volume.text.strip() for volume in doc.find_all('td',class_="Va(m) Ta(end) Pstart(20px) Pend(10px) W(120px) Fz(s)")[::2]]
        results['Name'].extend(Name)
        results['Price'].extend(Price)
        results['Change'].extend(Price)
        results['Volume'].extend(Volume)
    return results

In [39]:
crypto_final=get_crypto(5)

https://finance.yahoo.com/crypto/?count=25&offset=0
https://finance.yahoo.com/crypto/?count=25&offset=25
https://finance.yahoo.com/crypto/?count=25&offset=50
https://finance.yahoo.com/crypto/?count=25&offset=75
https://finance.yahoo.com/crypto/?count=25&offset=100

In [40]:
crypto_df=pd.DataFrame(crypto_final)
crypto_df

                    Name      Price     Change    Volume
0            Bitcoin USD  27,363.01  27,363.01    17.97B
1           Ethereum USD   1,825.80   1,825.80    8.537B
2             Tether USD     1.0007     1.0007   28.254B
3                BNB USD     311.58     311.58  517.709M
4           USD Coin USD   0.999953   0.999953    3.841B
..                   ...        ...        ...       ...
120  Wrapped Bitcoin USD  27,402.07  27,402.07  108.518M
121        Chainlink USD     6.4596     6.4596  176.993M
122     UNUS SED LEO USD     3.5727     3.5727   555,642
123           Cosmos USD      10.71      10.71  143.915M
124          Uniswap USD     4.9936     4.9936   49.935M

[125 rows x 4 columns]

In [41]:
crypto_df.to_csv('crypto.csv',index=None)